/* ARC STUFF HERE */

.help {
    color: teal;
}

.arc-dosis {
    font-family: 'Dosis', sans-serif;
}

.arc-sans {
    font-family: 'Open Sans', sans-serif;
}

.arc-card {
    border-color: #c6c6c6;
    @extend .pa3;
    @extend .ba;
    @extend .br1;
    @extend .arc-black;
}

.arc-card__header {
    @extend .bb;
    @extend .pb1;
    border-color: #e3e3e3;
}

.arc-heading {
    @extend .ma0;
    @extend .arc-dosis;
    font-weight: 200;
}

.arc-subheading {
    @extend .mv1;
    @extend .arc-sans;
    font-weight: 600;
    @extend .ttu;
}

.arc-copy {
    @extend .lh-title;
    @extend .arc-sans;
}

.arc-link {
    @extend .arc-sans;
    @extend .arc-blue;
    @extend .hover-arc-light-blue;
}

input {
    @extend .arc-sans;
    @extend .br2;
    @extend .ba;
    @extend .ph2;
    @extend .pv1;
    @extend .arc-black;
    @extend .b--moon-gray;
}

input:focus {
    outline: none;
    box-shadow: 0px 1px 4px 1px rgba( 0, 0, 0, 0.2 );
    @extend .b--light-silver;
}